---
import { Icon } from "astro-icon/components";

export interface ProjectCardProps {
    index: number;
    title: string;
    description: string;
    tags: string[];
    icon: string;
    stats?: {
        stars: number;
        forks: number;
    };
    stack: string[];
    previewImage: string;
}

const { index, title, description, tags, icon, stats, stack, previewImage } =
    Astro.props as ProjectCardProps;

console.log(`ProjectCard stats for ${title}:`, stats);
---

<div
    class="group flex gap-4 rounded-3xl bg-[#f1efefe6] p-4 transition-all duration-500 dark:bg-[#242c35] sm:p-6"
>
    <!-- Left column -->
    <div class="flex w-16 shrink-0 flex-col items-center gap-3">
        <div
            class="flex h-11 w-11 items-center justify-center rounded-2xl bg-emerald-500 text-white"
        >
            <Icon name={icon} size={24} />
        </div>
    </div>

    <!-- Content -->
    <div class="min-w-72 flex-1">
        <!-- Title / Description / Preview -->
        <div class="relative h-36">
            <!-- TEXT -->
            <div
                class="absolute inset-0 transition-all duration-500 group-hover:opacity-0 group-hover:-translate-y-3"
            >
                <h3
                    class="text-lg font-semibold dark:text-white sm:text-xl lg:text-2xl"
                >
                    {title}
                </h3>

                <p
                    class="mt-2 text-sm leading-6 text-foreground-muted sm:text-base"
                >
                    {description}
                </p>
                <!-- Tags -->
                {
                    tags?.length > 0 && (
                        <ul class="mt-4 flex flex-wrap gap-2">
                            {tags.map((tag) => (
                                <li class="rounded-lg bg-white px-3 py-1 text-xs opacity-75 dark:bg-[#1d232a] sm:text-sm">
                                    {tag}
                                </li>
                            ))}
                        </ul>
                    )
                }
            </div>

            <!-- IMAGE -->
            <div
                class="absolute inset-0 overflow-hidden rounded-2xl opacity-0 transition-all duration-500 group-hover:opacity-100"
            >
                <img
                    src={previewImage}
                    alt={title}
                    class="h-full w-full object-cover grayscale transition duration-500 group-hover:scale-105 group-hover:grayscale-0"
                />
            </div>
        </div>
        <div class="flex items-center justify-between mt-4">
              <!-- Stack -->
        {
            stack?.length > 0 && (
                <ul class="mt-4 flex flex-wrap gap-2">
                    {stack.map((stack) => (
                        <Icon
                            name={stack}
                            class="h-4 w-4 text-[#00B37E]"
                            title={stack}
                        />
                    ))}
                </ul>
            )
        }
            <div class="flex gap-1 text-xs font-medium">
                <span
                    class="flex items-center justify-center gap-1 rounded-md px-2 py-1"
                >
                    {stats?.stars}
                    <Icon name="tabler:star" size={12} />
                </span>

                <span
                    class="flex items-center justify-center gap-1 rounded-md px-2 py-1"
                >
                    {stats?.forks}
                    <Icon name="tabler:git-fork" size={12} />
                </span>
            </div>
        </div>
    </div>
</div>
